@use 'variables' as *;

.root {
  width: 100%;
  height: min-content;
  background: $light-grey;
  position: relative;
  padding-top: 128px;
  border-bottom-left-radius: $plate-border-radius;
  border-bottom-right-radius: $plate-border-radius;

  .wrapper {
    margin: 0 auto;
    max-width: $min-content-width;
    box-sizing: border-box;

    .heroContent {
      display: flex;
      align-items: center;
      gap: 100px;

      .heroText {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 1;
        min-width: 300px;
        max-width: 800px;

        h1 {
          font-size: 70px;
          line-height: 1;
          color: #333;

          .highlight {
            color: $brand-color;
            font-weight: bold;
          }
        }

        .subtitle {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 28px;
          line-height: auto;
          color: #555;
        }
      }

      .heroImage {
        flex: 1;
        max-width: 850px;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          display: block;
        }
      }
    }

    nav.categories {
      margin-top: 60px;

      ul {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        li {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          transition: transform 0.2s;
          overflow: hidden;

          a {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            text-align: center;
            width: 280px;
            height: 88px;
            padding: 16px;
            color: $grey;
            font-size: 20px;
            text-decoration: none;
          }

          &:hover {
            transform: translateY(1px);
            box-shadow: 0 -4px 4px rgb(0 0 0 / 10%);
          }
        }
      }
    }
  }
}

// Адаптивность
@media (width <= 768px) {
  .hero {
    .heroContent {
      flex-direction: column;

      .heroText h1 {
        font-size: 2rem;
      }

      // Изображение выше текста на мобильных
      .heroImage {
        order: -1;
      }
    }
  }
}
