@use 'variables' as *;

.root {
  width: 100%;
  height: min-content;
  background: $light-grey;
  position: relative;
  padding-top: 128px;
  border-bottom-left-radius: $plate-border-radius;
  border-bottom-right-radius: $plate-border-radius;

  .wrapper {
    margin: 0 auto;
    max-width: $min-content-width;
    box-sizing: border-box;

    .heroContent {
      display: flex;
      align-items: center;
      gap: 100px;

      .heroText {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 1;
        min-width: 300px;
        max-width: 800px;

        h1 {
          font-size: 70px;
          line-height: 1;
          color: #333;

          .highlight {
            color: $brand-color;
            font-weight: bold;
          }
        }

        .subtitle {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 28px;
          line-height: auto;
          color: #555;

          .moneyMouthFaceIcon {
            width: 72px;
            height: 72px;
          }
        }
      }

      .heroImage {
        flex: 1;
        max-width: 850px;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          display: block;
        }
      }
    }

    nav.categories {
      margin-top: 60px;

      ul {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        li {
          display: block;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          transition: transform 0.2s;
          overflow: hidden;
          width: 280px;
          height: 88px;

          a {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            background: #fff;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 16px;
            color: $grey;
            font-size: 20px;
            text-decoration: none;
          }

          &:hover {
            transform: translateY(1px);
            box-shadow: 0 -4px 4px rgb(0 0 0 / 10%);
          }
        }
      }
    }
  }
}

@media (width <= 1900px) {
  .root {
    .wrapper {
      padding: 0 40px;

      .heroContent {
        gap: 1.5rem;

        .heroText {
          h1 {
            font-size: 1.5rem;
          }

          .subtitle {
            font-size: 0.6rem;

            .moneyMouthFaceIcon {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }

      nav.categories {
        ul {
          gap: 0.4rem;

          li {
            a {
              width: auto;
              padding: 4px;
              font-size: 0.4rem;
            }
          }
        }
      }
    }
  }
}

@media (width <= 1024px) {
  .root {
    .wrapper {
      nav.categories {
        margin-top: 30px;
        margin-bottom: 20px;

        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          li {
            width: 100%;
            height: 2rem;
            border-radius: 12px;

            a {
              padding: 16px;
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}

@media (width <= 768px) {
  .root {
    .wrapper {
      .heroContent {
        .heroText {
          h1,
          .subtitle {
            text-align: center;
            justify-content: center;
          }
        }

        .heroImage {
          display: none;
        }
      }

      nav.categories {
        ul {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (width <= 480px) {
  .root {
    .wrapper {
      nav.categories {
        ul {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
