@use 'variables' as *;

.root {
  box-sizing: border-box;

  .title {
    text-align: center;
    @include title-medium-bold;
  }

  .offers {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    box-sizing: border-box;

    .offerCard {
      border-radius: 30px;
      background-color: $light-grey;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      .cardInfo {
        box-sizing: border-box;
        width: 466px;
        max-width: 466px;
        padding: 60px 10px 60px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title {
          display: flex;
          gap: 30px;
          @include title-small;

          .starIcon {
            width: 44px;
            height: 44px;
            color: $gradient;
          }
        }

        &__text {
          color: $grey;
          white-space: pre-line;
          @include text-medium;
        }
      }

      .cardImg {
        width: 364px;
        height: 100%;

        img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (width <= 1900px) {
  .root {
    padding: 0 20px;
    box-sizing: border-box;

    .title {
      font-size: 1.2rem;
    }

    .offers {
      margin-top: 0.8rem;
      width: 100%;
      grid-template-columns: repeat(1, 1fr);

      .offerCard {
        width: 100%;

        .cardInfo {
          width: unset;
          max-width: unset;

          &__title {
            font-size: 0.85rem;

            .starIcon {
              width: 1rem;
              height: 1rem;
            }
          }

          &__text {
            font-size: 0.6rem;
          }
        }

        .cardImg {
          width: auto;
          height: 250px;
        }
      }
    }
  }
}

@media (width <= 600px) {
  .root {
    .offers {
      .offerCard {
        position: relative;

        .cardInfo {
          padding: 20px;
          z-index: 10;

          &__text {
            color: rgba($color: #000, $alpha: 80%);
          }
        }

        .cardImg {
          width: auto;
          height: 100%;
          position: absolute;
          right: 0;
          bottom: 0;
          opacity: 0.1;
        }
      }
    }
  }
}
