@use 'variables' as *;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
  box-sizing: border-box;

  .content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex: 1;
  }
}

@media (width <= 1900px) {
  .root {
    .content {
      display: block;
    }
  }
}
