@use 'variables' as *;

.root {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: $dark-grey;
  width: 100%;
  height: 82px;
  border-bottom-left-radius: $plate-border-radius;
  border-bottom-right-radius: $plate-border-radius;
  padding: 0 30px 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: block;
    height: 70px;
    width: 251px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .mainNav {
    ul {
      display: flex;

      li {
        display: block;
        box-sizing: border-box;
        list-style-type: none;

        a {
          display: block;
          padding: 6px 30px;
          color: #fff;
          text-decoration: none;
          @include text-medium;

          &:hover,
          &_active {
            color: $grey2;
          }
        }
      }
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 12px;

    .socialIcon {
      display: block;
      width: 40px;
      height: 40px;

      img {
        display: block;
        object-fit: contain;
        width: 100%;
        height: auto;
      }
    }

    .phoneLink {
      font-size: 28px;
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (width <= 1400px) {
  .root {
    .mainNav {
      ul li a {
        @include text-small;
      }
    }

    .contacts {
      .socialIcon {
        width: 32px;
        height: 32px;
      }

      .phoneLink {
        @include text-small;
      }
    }
  }
}

@media (width <= 1200px) {
  .root {
    .contacts {
      display: none;
    }
  }
}

@media (width <= 1024px) {
  .root {
    display: flex;
    align-items: center;
    border-radius: unset;
    padding: 0 16px;

    .burgerMenuButton {
      width: 40px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;

      > * {
        width: 100%;
        height: 6px;
        border: 1px solid #fff;
        border-radius: 2px;
        background-color: rgba($color: #fff, $alpha: 20%);
      }
    }

    .mainNav,
    .contacts {
      display: none;
    }

    .burgerMenuOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgb(0 0 0 / 35%);

      .burgerMenu {
        position: absolute;
        left: 0;
        top: 0;
        width: 240px;
        height: 100vh;
        background-color: $dark-grey;
        list-style: none;
        box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
        z-index: 1000;

        &__title {
          box-sizing: border-box;
          padding: 20px 16px;
          background-color: #222;
          height: 82px;
          color: $brand-color;
          @include title-small;
        }

        &__contacts {
          padding: 16px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          a {
            color: #fff;
            text-decoration: none;
            @include text-small;
          }
        }

        ul {
          box-sizing: border-box;
          width: 100%;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 12px;

          li {
            box-sizing: border-box;
            width: 100%;
            list-style: none;

            a {
              display: block;
              box-sizing: border-box;
              width: 100%;
              color: $light-grey;
              text-decoration: none;
              padding: 12px 16px;
              text-transform: uppercase;
              @include text-tiny;
            }
          }
        }
      }
    }
  }
}
