@use 'variables' as *;

.root {
  box-sizing: border-box;
  background-color: $dark-grey;
  height: 82px;
  border-bottom-left-radius: $plate-border-radius;
  border-bottom-right-radius: $plate-border-radius;
  padding: 0 30px 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: block;
    height: 70px;
    width: 251px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .mainNav {
    ul {
      display: flex;

      li {
        box-sizing: border-box;
        list-style-type: none;

        a {
          padding: 6px 30px;
          color: #fff;
          text-decoration: none;
          font-size: 20px;
          line-height: 1;

          &:hover,
          &_active {
            color: $grey2;
          }
        }
      }
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 12px;

    .phoneLink {
      font-size: 28px;
      color: #fff;
      text-decoration: none;
    }
  }
}
