@use 'variables' as *;

.root {
  box-sizing: border-box;
  background-color: $dark-grey;
  border-top-left-radius: $plate-border-radius;
  border-top-right-radius: $plate-border-radius;

  .content {
    padding: 80px 20px;
    color: #fff;

    .copyright,
    .legal {
      text-align: center;
      font-size: 26px;
    }

    .links {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      ul {
        margin: 0 auto;
        display: flex;

        li {
          box-sizing: border-box;
          list-style-type: none;
          border-right: 1px solid $grey;

          &:last-child {
            border: none;
          }

          a {
            padding: 0 4px;
            color: $grey;
            text-decoration: none;
            font-size: 16px;
            line-height: 1;

            &:hover,
            &_active {
              color: $grey2;
            }
          }
        }
      }
    }
  }
}
