@use 'variables' as *;

.root {
  box-sizing: border-box;
  background-color: $dark-grey;
  border-top-left-radius: $plate-border-radius;
  border-top-right-radius: $plate-border-radius;

  .content {
    padding: 80px 20px;

    .copyright,
    .legal {
      text-align: center;
      line-height: 1.5;
      color: #fff;
      @include text-medium;
    }

    .links {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      ul {
        margin: 0 auto;
        display: flex;

        li {
          box-sizing: border-box;
          list-style-type: none;
          border-right: 1px solid $grey;

          &:last-child {
            border: none;
          }

          a {
            display: block;
            padding: 0 8px;
            color: $grey;
            text-decoration: none;
            font-size: 18px;
            line-height: 1;

            &:hover,
            &_active {
              color: $grey2;
            }
          }
        }
      }
    }
  }
}

@media (width <= 1024px) {
  .root {
    display: flex;
    align-items: center;
    border-radius: unset;
    padding: 0 16px;

    .content {
      padding: 40px 0;

      .copyright,
      .legal {
        @include text-small;
      }

      .links {
        ul {
          display: grid;
          gap: 20px 50px;
          grid-template-columns: repeat(2, 1fr);

          li {
            border: unset;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (width <= 768px) {
  .root {
    display: block;

    .content {
      .copyright,
      .legal {
        @include text-tiny;
      }

      .links {
        ul {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
