/* src/styles/fonts.css */
@font-face {
  font-family: 'Rag 123';
  src:
    url('../assets/fonts/Rag123.woff2') format('woff2'),
    url('../assets/fonts/Rag123.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* улучшает FOUT/FOIT */
}
