@use 'variables' as *;

html {
  font-size: clamp(24px, 3vw, 40px);
}

body,
a,
* {
  color: $dark-grey;
  @include font-family;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: unset;
  padding: unset;
}
